STORYBLOK_DELIVERY_API_TOKEN=<REPLACE_WITH_YOUR_TOKEN>
STORYBLOK_REGION=<REPLACE_WITH_SPACE_REGION>

PUBLIC_TAVERN_FRONTEND_URL=https://koala.svsticky.nl
PUBLIC_TAVERN_BACKEND_URL=https://api.koala.svsticky.nl
