---
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import { storyblokEditable } from '@storyblok/astro';
const { blok } = Astro.props;
---

<main class="w-3/4 mx-auto" {...storyblokEditable(blok)}>
	{
		blok.body?.map((nestedBlok) => {
			return <StoryblokComponent blok={nestedBlok} />;
		})
	}
</main>
