---
import { renderRichText, storyblokEditable } from '@storyblok/astro';
const { blok } = Astro.props;

import { useStoryblokApi } from '@storyblok/astro';
import { Image } from "astro-preload/components";

const storyblokApi = useStoryblokApi();
const partners = await storyblokApi.getAll('cdn/stories', {
  version: 'draft',
  starts_with: 'carriere/partners',
  content_type: 'partner',
});

const main_partners = partners.filter(partner => partner.content.is_main);
const regular_partners = partners.filter(partner => !partner.content.is_main);
const displayed_partners = main_partners.concat(regular_partners);
---

<main class="w-4/5 mx-auto flex flex-col mt-8 mb-16" {...storyblokEditable(blok)}>
  <h1 class="font-bold text-4xl mx-auto my-8">Samenwerking met Sticky</h1>
  <p class="text-center w-3/4 mx-auto">Studievereniging Sticky heeft als een van de primaire doelen om studenten te helpen met het orienteren op de arbeidsmarkt zowel tijdens hun studie als wanneer ze afstuderen. Daarom gaan wij graag de samenwerking aan met zowel lokale bedrijven als andere IT-gerelateerde bedrijven in Nederland.</p>

  <div class="border-neutral-300 flex flex-row my-8">
    <div class="bg-neutral-300 h-px w-full my-auto rounded-full"></div>
    <img src="/exclamation.svg" class="w-7" />
    <div class="bg-neutral-300 h-px w-full my-auto rounded-full"></div>
  </div>

  <div class="grid grid-cols-2 gap-8 mb-4">
    <div class="flex flex-col pt-8">
      <h2 class="mx-auto font-bold text-2xl mb-4">Waarom partner worden?</h2>
      <p class="mb-8">Wilt u in contact komen met honderden gemotiveerde studenten van de opleidingen Informatica, Informatiekunde en Game Technology aan de Universiteit Utrecht? Studievereniging Sticky is met meer dan 2500 leden het centrale platform voor connectie tussen studenten en het bedrijfsleven.</p>

      <div class="grid grid-cols-2 gap-8">
        <div class="grid grid-cols-[2rem_auto] gap-2">
          <div class="flex basis-0 bg-[#fa6c2051] h-8 rounded text-[#fa6b20] mt-1">
            <i class="m-auto fas fa-bullhorn"></i>
          </div>
          <div class="grow w-full">
            <h3 class="font-semibold text-lg">Groot bereik</h3>
            <p class="text-sm">Bereik direct meer dan 1000 IT-studenten via fysieke posters, onze wekelijkse nieuwsbrief en actieve online kanalen.</p>
          </div>
        </div>
        <div class="grid grid-cols-[2rem_auto] gap-2">
          <div class="flex basis-0 bg-[#fa6c2051] h-8 rounded text-[#fa6b20] mt-1">
            <i class="m-auto fas fa-briefcase"></i>
          </div>
          <div>
            <h3 class="font-semibold text-lg">Doelgerichte Werving</h3>
            <p class="text-sm">Plaats vacatures, stages en bijbanen op ons vacaturebord en krijg een eigen partnerprofiel op de website.</p>
          </div>
        </div>
        <div class="grid grid-cols-[2rem_auto] gap-2">
          <div class="flex basis-0 bg-[#fa6c2051] h-8 rounded text-[#fa6b20] mt-1">
            <i class="m-auto fas fa-people-group"></i>
          </div>
          <div>
            <h3 class="font-semibold text-lg">Interactieve Events</h3>
            <p class="text-sm">Organiseer lezingen, workshops, bedrijfspresentaties of netwerkborrels in samenwerking met onze commissies.</p>
          </div>
        </div>
        <div class="grid grid-cols-[2rem_auto] gap-2">
          <div class="flex basis-0 bg-[#fa6c2051] h-8 rounded text-[#fa6b20] mt-1">
            <i class="m-auto fas fa-graduation-cap"></i>
          </div>
          <div>
            <h3 class="font-semibold text-lg">Hoge Betrokkenheid</h3>
            <p class="text-sm">Sticky-leden zijn zeer gemotiveerd en bouwen tijdens hun studie al vroeg een band op met onze partners.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="border border-neutral-300 rounded-xl p-8 flex flex-col gap-4">
      <h2 class="mx-auto font-bold text-2xl">Neem contact op</h2>
      <p class="text-sm">Vul onderstaand formulier in en onze Extern-commissie neemt zo snel mogelijk contact met u op om de mogelijkheden te bespreken.</p>
      <form action="/api/mail" method="post" class="flex flex-col gap-4">
        <div class="flex flex-col gap-1">
          <label class="text-sm" for="company">Bedrijfsnaam <span class="text-red-500">*</span></label>
          <input class="border border-neutral-300 rounded-xl px-2 py-1" type="text" required name="company" id="company">
        </div>

        <div class="flex flex-col gap-1">
          <label class="text-sm" for="name">Naam contactpersoon <span class="text-red-500">*</span></label>
          <input class="border border-neutral-300 rounded-xl px-2 py-1" type="text" required name="name" id="name">
        </div>

        <div class="grid grid-cols-2 gap-4">
          <div class="flex flex-col gap-1">
            <label class="text-sm" for="email">Emailadres <span class="text-red-500">*</span></label> 
            <input class="border border-neutral-300 rounded-xl px-2 py-1" type="email" required name="email" id="email">
          </div>
          <div class="flex flex-col gap-1">
            <label class="text-sm" for="tel">Telefoonnummer</label>
            <input class="border border-neutral-300 rounded-xl px-2 py-1" type="tel" name="tel" id="tel">
          </div>
        </div>

        <div class="flex flex-col gap-1">
          <label class="text-sm" for="message">Bericht / vraag <span class="text-red-500">*</span></label>
          <textarea class="border border-neutral-300 rounded-xl px-2 py-1" required name="message" id="message"></textarea>
        </div>

        <button type="submit" class="flex cursor-pointer w-full bg-[#fa6b20] text-white text-center text-lg px-4 py-2 font-bold rounded-xl hover:bg-[#e2621d] group transition">
          <div class="mx-auto">
            Versturen
            <i class="ml-2 fas fa-paper-plane my-auto group-hover:translate-x-0.5 group-hover:-translate-y-0.5 transition"></i>
          </div>
        </button>
      </form>
    </div>
  </div>

  <div class="border-neutral-300 flex flex-row my-8">
    <div class="bg-neutral-300 h-px w-full my-auto rounded-full"></div>
    <img src="/exclamation.svg" class="w-7" />
    <div class="bg-neutral-300 h-px w-full my-auto rounded-full"></div>
  </div>

  <h2 class="font-bold text-2xl">Bestaande partners</h2>
  <p>Deze bedrijven zijn al partner van Sticky.</p>
  <div class="overflow-x-hidden overflow-y-visible w-full py-4">
    <ul class="overflow-y-visible" id="conveyor" style={{ "animation-duration": `${displayed_partners.length * 2}s` }}>
      {[...displayed_partners, ...displayed_partners].map(partner => (
        <a href={"/" + partner.full_slug} class="hover:-translate-y-2 transition">
          <li>
            <Image width={150} height={150} url={partner.content.logo.filename} class="object-contain" />
          </li>
        </a>
      ))}
    </ul>
  </div>

  <div class="border-neutral-300 flex flex-row my-8">
    <div class="bg-neutral-300 h-px w-full my-auto rounded-full"></div>
    <img src="/exclamation.svg" class="w-7" />
    <div class="bg-neutral-300 h-px w-full my-auto rounded-full"></div>
  </div>

  <h2 class="font-bold text-2xl mb-4">Promotiemogelijkheden</h2>
  <div class="flex flex-col gap-4">
    <ul class="grid grid-cols-4 gap-4">
      <li class="border border-neutral-300 rounded-xl">
        <div class="flex flex-row gap-2 border-b border-neutral-300 p-4">
          <div class="flex bg-[#fa6c2051] h-8 w-8 rounded text-[#fa6b20]">
            <i class="m-auto fas fa-envelope"></i>
          </div>
          <h3 class="my-auto font-semibold">Directe mailing</h3>
        </div>
        <p class="p-4">Stuur een gerichte e-mail direct naar al onze (of een specifieke selectie van) leden.</p>
      </li>

      <li class="border border-neutral-300 rounded-xl">
        <div class="flex flex-row gap-2 border-b border-neutral-300 p-4">
          <div class="flex bg-[#fa6c2051] h-8 w-8 rounded text-[#fa6b20]">
            <i class="m-auto fas fa-couch"></i>
          </div>
          <h3 class="my-auto font-semibold">Verenigingskamer</h3>
        </div>
        <p class="p-4">Promoot uw bedrijf fysiek in de Sticky-kamer, de dagelijkse ontmoetingsplek voor onze studenten. Dit kan als een poster, banner of als (video-)advertentie op onze televisie.</p>
      </li>

      <li class="border border-neutral-300 rounded-xl">
        <div class="flex flex-row gap-2 border-b border-neutral-300 p-4">
          <div class="flex bg-[#fa6c2051] h-8 w-8 rounded text-[#fa6b20]">
            <i class="m-auto fas fa-hashtag"></i>
          </div>
          <h3 class="my-auto font-semibold">Sociale media</h3>
        </div>
        <p class="p-4">Bereik studenten via Instagram en LinkedIn met gesponsorde posts of stories.</p>
      </li>

      <li class="border border-neutral-300 rounded-xl">
        <div class="flex flex-row gap-2 border-b border-neutral-300 p-4">
          <div class="flex bg-[#fa6c2051] h-8 w-8 rounded text-[#fa6b20]">
            <i class="m-auto fas fa-globe"></i>
          </div>
          <h3 class="my-auto font-semibold">Website</h3>
        </div>
        <p class="p-4">Plaats uw vacatures, bedrijfsprofiel of banner op onze website.</p>
      </li>
    </ul>
    <div class="border border-neutral-300 rounded-xl">
      <div class="flex flex-row gap-2 border-b border-neutral-300 p-4">
        <div class="flex bg-[#fa6c2051] h-8 w-8 rounded text-[#fa6b20]">
          <i class="m-auto fas fa-people-group"></i>
        </div>
        <h3 class="my-auto font-semibold">Sponsoractiviteiten</h3>
      </div>
      <div class="p-4 flex flex-row gap-4">
        <p>Organiseer een van onze succesvolle activiteiten om direct met studenten in contact te komen. Wij verzorgen de logistiek en promotie, u zorgt voor de inhoud.</p>
        <ul class="grid grid-cols-3 gap-4">
          <li class="border border-neutral-300 rounded-xl overflow-hidden">
            <img src="/lunch.jpeg" class="w-full h-25 object-cover" />
            <div class="p-4">
              <h4 class="font-semibold mb-2">Lunchlezing / workshop</h4>
              <p class="text-sm">Presenteer uw bedrijf of een technisch onderwerp tijdens de lunch. Wij verzorgen de broodjes en een volle zaal.</p>
            </div>
          </li>

          <li class="border border-neutral-300 rounded-xl overflow-hidden">
            <img src="/borrel.jpeg" class="w-full h-25 object-cover" />
            <div class="p-4">
              <h4 class="font-semibold mb-2">Bedrijvenborrel / masterborrel</h4>
              <p class="text-sm">Netwerk met een brede groep studenten in een informele sfeer na een studiedag.</p>
            </div>
          </li>

          <li class="border border-neutral-300 rounded-xl overflow-hidden">
            <img src="/inhouse.jpg" class="w-full h-25 object-cover" />
            <div class="p-4">
              <h4 class="font-semibold mb-2">Inhouse-dagen</h4>
              <p class="text-sm">Ontvang een groep studenten op uw eigen kantoor voor een presentatie, case en rondleiding.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>

<style>
#conveyor {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation-name: scroll;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#conveyor:hover {
  animation-play-state: paused;
}

#conveyor img {
  height: 150px;
  width: 150px;
}

@keyframes scroll {
  to { transform: translateX(calc(-50% - 1rem)); }
}
</style>