---
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import { storyblokEditable } from '@storyblok/astro';
const { blok } = Astro.props;
---

<div class="border border-neutral-200 rounded p-4" {...storyblokEditable(blok)}>
  {blok.body.map((nestedBlok: any) => <StoryblokComponent blok={nestedBlok} />)}
</div>
