---
import { renderRichText } from '@storyblok/astro';
const { content } = Astro.props;
---

<div class={`${Astro.props["class"]} rich-text`} set:html={renderRichText(content)}></div>

<style is:global>
  .rich-text p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .rich-text p:first-of-type {
    margin-top: 0;
  }

  .rich-text p:last-of-type {
    margin-bottom: 0;
  }

  .rich-text h1 {
    font-size: var(--text-4xl);
    font-weight: var(--font-weight-bold);
  }

  .rich-text h2 {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-bold);
  }

  .rich-text h3 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-bold);
  }

  .rich-text h4, .rich-text h5, .rich-text h6 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-semibold);
  }

  .rich-text a[href] {
    color: var(--color-blue-500);
  }

  .rich-text a[href]:hover {
    text-decoration: underline;
  }

  .rich-text ul {
    list-style-type: disc;
    margin-left: 1rem;
  }

  .rich-text ul li > p:first-of-type, .rich-text ul li > p:last-of-type {
    margin-top: 0;
    margin-bottom: 0;
  }
</style>